.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cell {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: lightgray;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}